body {
  background-color: #220f34;
}

.navbar img {
  width: 50px;
  height: 50px;
  margin: 0 16px 0 0;
  background: #c4c4c4;
  border-radius: 8px;
}
/* navbar end */

/* header start */
.color {
  background: linear-gradient(
    103.45deg,
    #c373f2 1.08%,
    #07deb7 124.85%,
    rgba(165, 19, 234, 0) 124.86%,
    #a149d6 124.87%
  );
  border-radius: 24px;
  width: 167px;
  height: 49px;
  color: #ffffff;
}

.bg-header {
  border-radius: 24px;
  background: linear-gradient(
    103.45deg,
    #c373f2 1.08%,
    #07deb7 124.85%,
    rgba(165, 19, 234, 0) 124.86%,
    #a149d6 124.87%
  );
}

.bg-color {
  margin: 82px 0 0 0;
  background: linear-gradient(
    103.45deg,
    #c373f2 1.08%,
    #07deb7 124.85%,
    rgba(165, 19, 234, 0) 124.86%,
    #a149d6 124.87%
  );
  border-radius: 24px;
}

.header-padding {
  /* background-color: beige; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 68px 100px 84px;
  gap: 96px;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 19px;
  width: 527px;
  height: 319px;
}

.col p {
  font-style: normal;
  font-weight: 400;
  font-size: 2vmax;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: justify;
  color: #ffffff;
  opacity: 0.6;
}
#text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;

  color: #ffffff;
}
.col h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 4vmax;
  line-height: 110%;
  color: #ffffff;
}
.btn-color {
  border-radius: 10px;
  background: linear-gradient(
    103.45deg,
    #c373f2 1.08%,
    #07deb7 124.85%,
    rgba(165, 19, 234, 0) 124.86%,
    #a149d6 124.87%
  );
  font-size: 1vmax;
}
.btn-color:hover {
  background: #ffffff;
}
.btn-sekunder {
  background: #35c5c6;
  color: white;
  font-weight: bold;
  border: white;
  border-radius: 20px;
  padding: 12px;
}
.btn-sekunder:hover {
  background: white;
  color: #35c5c6;
}

.btn-header {
  color: #ffffff;
  background: #35c5c6;
  border: 1px solid #ffffff;
  border-radius: 24px;
}

.header-image img {
  width: 400px;
  height: 426.54px;
  display: flex;
  margin-left: 100px;
}
/* header end */

/* content 1 start */

.columns-content {
  padding: 8px;
  background: linear-gradient(118.89deg, #c373f2 0%, #2fc8c4 100%);
  border-radius: 8px;
  height: 200px;
}

.columns-content img {
  width: 64px;
  height: 64px;
  opacity: 0.8;
}
.columns-content p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #000000;
}
/* content 1 end */

/* content 2 start */
.content2 {
  font-style: normal;
  font-weight: 700;

  color: #ffffff;
}

#icon {
  width: 10%;
  height: 10%;
}
/* content 2 end */

/* sponsorship start */

.box-sponsor {
  width: 172px;
  height: 172px;
  background: #e6d7d7;
  opacity: 0.7;
  border-radius: 8px;
}

/* sponsorship end */

/* mediapartner start */

.box-media {
  width: 96px;
  height: 96px;
  background: #ede3e3;
  opacity: 0.7;
  border-radius: 8px;
}

/* mediapartner end */

/* footer start */
footer {
  background: linear-gradient(92.49deg, #b87aef 0%, #48bbcd 102.56%);
  color: #000000;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-top: 108px;
  gap: 64px;
  width: 100%;
  height: 304px;
  background: linear-gradient(92.49deg, #b87aef 0%, #48bbcd 102.56%);
}

.footer h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
.footer p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
}

.row-footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 1280px;
  height: 46px;
}
hr {
  width: 1280px;
  height: 0px;
  border: 1px solid rgb(255, 255, 255);
}
/* footer end */

/* timeline */

.timeline {
  border-left: 3px solid #727cf5;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(114, 124, 245, 0.09);
  margin: 0 auto;
  letter-spacing: 0.2px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 50px;
  list-style: none;
  text-align: left;
  max-width: 40%;
  color: white;
}

@media (max-width: 767px) {
  .timeline {
    max-width: 98%;
    padding: 25px;
  }
}

.timeline h1 {
  font-weight: 300;
  font-size: 1.4em;
}

.timeline h2,
.timeline h3 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 10px;
}

.timeline .event {
  border-bottom: 1px dashed #e8ebf1;
  padding-bottom: 25px;
  margin-bottom: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .timeline .event {
    padding-top: 30px;
  }
}

.timeline .event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}

.timeline .event:before {
  left: -250px;
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}

@media (max-width: 767px) {
  .timeline .event:before {
    left: 0px;
    text-align: left;
  }
}

.timeline .event:after {
  -webkit-box-shadow: 0 0 0 3px #727cf5;
  box-shadow: 0 0 0 3px #727cf5;
  left: -55.8px;
  background: #fff;
  border-radius: 50%;
  height: 9px;
  width: 9px;
  content: "";
  top: 5px;
}

@media (max-width: 767px) {
  .timeline .event:after {
    left: -31.8px;
  }
}

.rtl .timeline {
  border-left: 0;
  text-align: right;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  border-right: 3px solid #727cf5;
}

.rtl .timeline .event::before {
  left: 0;
  right: -170px;
}

.rtl .timeline .event::after {
  left: 0;
  right: -55.8px;
}
